.secao-titulo {
    display: flex;
    font-size: var(--font-size-titulo);
    padding: 0.5rem;
    justify-content: center;
    text-align: center;
    color: var(--cor-secundaria);
}

.secao-titulo h2{
    padding: 0;
}