.secao-titulo {
    display: flex;
    font-size: var(--font-size-titulo);
    margin-top: 6rem;
    padding: 0.5rem;
    justify-content: center;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
}