.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal {
    background: var(--cor-secundaria);
    border-radius: 10px;
    color: var(--cor-primaria);
    display: flex;
    max-width: 95vw;
    padding: 2rem;
    padding-right: 1.5rem;
    align-items: flex-start;
    gap: 2rem;
    max-height: 90vh;
    overflow-y: auto;
}

.imagem-e-texto {
    display: flex;
    gap: 2rem;
}

.imagem-e-texto img {
    width: 47%;
    height: auto;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 16px rgba(0,0,0,0.12);
}

.texto-modal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.texto-modal h2 {
    text-align: start;
}

.texto-modal p {
    font-size: var(--font-size-paragrafo);
}

.modal-close {
    font-size: var(--font-size-titulo);
    color: var(--cor-primaria);
    cursor: pointer;
    background: none;
    border: none;
    margin-left: auto;
}



@media (max-width: 1400px) {

    .modal {
        gap: 0.8rem;
        padding: 1rem;
        padding-right: 0.5rem;
    }

    .imagem-e-texto {
        gap: 0.8rem;
    }

    .texto-modal {
        gap: 0.8rem;
    }

    .texto-modal h2 {
        font-size: var(--font-size-paragrafo);
    }

    .texto-modal h3 {
        font-size: var(--font-size-nav);
    }

    .texto-modal p {
        font-size: var(--font-size-nav);
    }
}

@media (max-width: 1200px) {
    .modal {
        max-height: 70vh;
    }
    .imagem-e-texto {
        flex-direction: column;
    }
    .imagem-e-texto img {
        width: 100%;
    }
}
