.secao-pagamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--cor-secundaria);
    padding: 3rem 0;
    color: var(--cor-primaria);
}

.formas-pagamento {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.forma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 300px; 
    border-radius: var(--border-radius);
    font-size: var(--font-size-paragrafo);
    gap: 0.5rem;
    background-color: var(--cor-quaternaria);
}