.secao-categorias {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 3rem 0;
    color: var(--cor-primaria);
}

.categorias {
    display: flex;
    gap: 8rem;
    justify-content: center;
}

.categoria {
    width: 25%;
    padding: 1.5rem;
    border-radius: var(--border-radius);
    font-size: var(--font-size-paragrafo);
    background-color: var(--cor-quaternaria);
}

.categoria img {
    height: 8rem;
    width: auto;
}

.secao-categorias h3 {
    padding: 1.5rem 0;
}

