.marquee {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-size: var(--font-size-nav);
    padding: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    text-align: left; /* necessário para o efeito marquee */
    display: flex;
    align-items: center;
}

.marquee p {
    display: inline-block;
    margin: 0;
    padding-left: 100%;
    animation: marquee 25s linear infinite;
}

@keyframes marquee {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}