.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
}
.header.hide {
    top: -6.2rem; 
}
.header.show {
    top: 0;
}

.faixa-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--cor-secundaria);
}

.secao-logo {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    color: var(--cor-primaria);
    font-family: 'Dancing Script', cursive;
}

.secao-logo p {
    font-family: 'Dancing Script', cursive;
    font-size: var(--font-size-paragrafo);
}

.faixa-1 img{
    height: 2.5rem;
    width: auto;
}

.lista-de-links {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.lista-de-links li, .lista-de-links li a{
    display: flex;
    gap: 0.2rem;
    align-items: center;
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: var(--font-size-nav);
}

.nav-1 {
    display: flex;
    gap: 1rem;
}

.faixa-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: var(--cor-primaria);
}

.lista-de-nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
}

.lista-de-nav a{
    font-size: var(--font-size-nav);
    color: var(--cor-secundaria);
    text-decoration: none;
}

.faixa-3, .faixa-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.faixa-3 p {
    color: red;
    font-size: var(--font-size-titulo);
}

.faixa-3 {
    background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url('/faixa.webp');
    background-size: cover;
    background-position: center;
}

.faixa-4 {
    background-color: var(--cor-primaria);
}

.faixa-4 p {
    color: var(--cor-secundaria);
    font-size: var(--font-size-desc);
}

.menu-btn {
    display: none;
    position: fixed;
    top: 0.7rem;
    left: 0.1rem;
    color: var(--cor-primaria);
    background: none;
    background-color: transparent;
    border: none;
    z-index: 2000;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.menu-btn.show {
    top: 0.7rem;
}
.menu-btn.hide {
    top: -6.2rem; /* igual ao header.hide */
    transition: top 0.3s;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    width: 250px;
    height: 100vh;
    background: var(--cor-primaria);
    box-shadow: 2px 0 8px rgba(0,0,0,0.15);
    z-index: 2000;
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}
.sidebar.open {
    left: 0;
}
.sidebar .close-btn {
    position: absolute;
    top: 2rem;
    left: 2rem;
    background: none;
    border: none;
    color: var(--cor-primaria);
    cursor: pointer;
    font-size: var(--font-size-paragrafo);
}

.sidebar {
    background-color: var(--cor-secundaria);
}


.sidebar .lista-de-nav {
    flex-direction: column;
    gap: 2rem;
    padding-top: 3rem;
    align-items: flex-start;
    padding-left: 2rem;
}
.sidebar .lista-de-nav a {
    color: var(--cor-primaria);
    font-size: var(--font-size-nav);
}


@media (max-width: 1000px) {
    .lista-de-nav {
        gap: 3rem;
    }

    .lista-de-nav a, .faixa-1 .lista-de-links a, .lista-de-links li {
        font-size: var(--font-size-desc);
    }
}

@media (max-width: 800px) {

    .header.hide {
        top: -8rem; 
    }

    .faixa-2 {
        display: none !important;
    }
    .menu-btn {
        display: block;
    }
    .sidebar {
        display: flex;
    }

    .faixa-1 {
        flex-direction: column;
        gap: 1rem;
        padding: 0;
        padding-top: 1rem;
    }

    .lista-de-links {
        width: 100%;
        background-color: var(--cor-primaria);
        justify-content: center;
        padding: 1rem;
    }

    .lista-de-links li a, .lista-de-links li {
        color: var(--cor-secundaria);
    }

    .faixa-2 {
        display: none !important;
    }

    body {
        padding-top: 7.9rem;
    }
}

@media (max-width: 530px) {
    .faixa-1 ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 0;
        gap: 0.5rem;
    }
    body {
        padding-top: 8.5rem;
    }

    .header.hide {
        top: -8.6rem; 
    }
}

@media (max-width: 360px) {

    body {
        padding-top: 8rem;
    }

    .texto-maps {
        display: none;
    }

    .faixa-1 img{
        height: 2rem;
        width: auto;
    }
}