.secao-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
}

.conteudo {
    display: flex;
    width: 90%;
    gap: 10rem;
    align-items: center;
    justify-content: center;
}

.sobre-texto {
    width: 60%;
    color: var(--cor-primaria);
    font-size: var(--font-size-paragrafo);
    display: flex;
    flex-direction: column;
    gap: 1rem;
} 

.foto-desc {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 1rem;
}

.foto-desc img {
    border-radius: var(--border-radius);
}

.foto-desc p {
    font-size: var(--font-size-desc);
}

@media (max-width: 1000px) {

    .conteudo {
        gap: 4rem;
    }

    .sobre-texto {
        font-size: var(--font-size-desc);
    }

    .foto-desc {
        width: 30%;
    }

    .foto-desc p{
        font-size: 0.6rem;
    }
} 

@media (max-width: 630px) {
    .conteudo {
        flex-direction: column;
    }

    .sobre-texto , .foto-desc {
        width: 100%;
    }

    .sobre-texto {
        font-size: var(--font-size-nav);
    }

    .foto-desc p {
        font-size: var(--font-size-desc);
    }
}