* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

:root {
  --cor-primaria: #80002D; 
  --cor-secundaria: #FFFFFF;
  --cor-terciaria: #000000;
  --cor-quaternaria: #FFE5E1;
  --font-size-nav: 1rem;
  --font-size-paragrafo: 1.2rem;
  --font-size-titulo: 1.6rem;
  --font-size-desc: 0.8rem;
  --border-radius: 0.5rem;
}

h2 {
    padding-bottom: 3rem;
    font-size: var(--font-size-titulo);
    color: var(--cor-primaria);
    text-align: center;
}

body {
  padding-top: 6.2rem;
}

body.modal-aberto .header {
    display: none !important;
}