* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  
}

:root {
  --cor-primaria: #80002D; 
  --cor-secundaria: #FFFFFF;
  --cor-terciaria: #000000;
  --font-size-nav: 1rem;
  --font-size-paragrafo: 1rem;
  --font-size-titulo: 1.6rem;
  --font-size-desc: 0.8rem;
}